.card {
  /* background-color: #333;
  width: 100%; */
  padding-top: 10px;
  padding-bottom: 10px;
}
.card-inner {
  border-radius: 5px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex: 0 0 50%;
  flex-direction: column;
  width: 500px;
  margin: 0 auto;
  padding-top: 15px;
  padding-bottom: 15px;
  box-shadow: 1px 1px 5px rgb(0, 0, 0);
}
.card-inner div {
}

